[user]
    name = David Thompson
    email = mail@fatbusinessman.com

[alias]
    st = status -sb
    b = branch
    d = diff
    glog = log --graph --oneline
    one = log --oneline
    ci = commit -v
    amend = commit --amend -C HEAD
    co = checkout
    com = checkout master
    fp = fetch --prune
    ff = merge --ff-only
    lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
    m = merge --no-ff
    pf = pull --ff-only
    pff = pull --ff-only

[core]
    excludesfile = ~/.gitignore
    quotepath = false

[color]
    ui = true

[push]
    default = upstream

[merge]
    defaultToUpstream = true

[rebase]
    autosquash = true

[include]
  path = .gitpair
